<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="On Hold" updateAt="08/03/2023 " createdAt="05/03/2023 16:08:56"  notes="We have 2 bugs full."></app-pickup-call-card>
  <app-pickup-call-card status="Processing" updateAt="02/03/2023 " createdAt="05/03/2023 16:08:56"  notes="We have 2 bugs full Organic+inOrganic ."></app-pickup-call-card>
  <app-pickup-call-card status="Finished"
   updateAt="01/03/2023" 
   createdAt="05/03/2023 16:08:56"  
   notes="We have 4 bugs full 3Organic+1inOrganic ."
   amount="$ 1300"></app-pickup-call-card>



</ion-content>
