<ion-header>
  <ion-toolbar color="success">
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg" alt="">
  <ion-card>
    <ion-card-content>
      <p>Adress:wkkw Street,87</p>
      <p>compliment:uboudgsug</p>
      <p>Neighbourhood: Neighbourhood</p>
      <p>zipcode:879976</p>
      <p>State:wkwkw</p>
      <p>city:wkwkw</p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button size="full" color="success" (click)="newPickupCall()">Create Pickup Calls</ion-button>

</ion-content>
